@model CreateMessageDto

<section class="book_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Bize Ulaşın
            </h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form_container">
                    @* id="sendMessageForm" *@
                    <form  method="post" role="form" class="contactForm">
                        <div>
                            <input type="text" class="form-control" placeholder="Adınız Soyadınız" asp-for="NameSurname" />
                        </div>
                        <div>
                            <input type="text" class="form-control" placeholder="Telefon Numaranız" asp-for="Phone" />
                        </div>
                        <div>
                            <input type="email" class="form-control" placeholder="Email Adresiniz" asp-for="Mail" />
                        </div>
                        <div>
                            <input type="text" class="form-control" placeholder="Konu" asp-for="Subject" />
                        </div>
                        <div>
                            <textarea asp-for="MessageContent" rows="10" placeholder="Buraya mesajınızı yazabilirsiniz..." class="form-control"></textarea>
                        </div>
                      
                        <div class="btn_box">
                            <button type="submit" @* id="btnReservationNow" *@>
                                Mesajı Gönder
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="map_container ">
                    <div id="googleMap"></div>
                </div>
            </div>
        </div>
    </div>
</section>

 @* <script>
    $(document).ready(function () {
        $("#btnReservationNow").click(function (event) {
            // Form submit olayını durdur
            event.preventDefault();

            var formData = $("#sendMessageForm").serialize();
            var action = $("#sendMessageForm").attr('action');

            if (!action) {
                action = '/Default/Add';
            }

            // AJAX isteğini oluştur
            $.ajax({
                type: "POST",
                url: action,
                data: formData,
                success: function (response) {
                    // Rezervasyon başarılı olduğunda yapılacak işlemler
                    console.log("Rezervasyon başarıyla oluşturuldu");
                    console.log(response);

                    // SweetAlert2 ile başarılı iletişim kutusu göster
                    Swal.fire({
                        icon: 'success',
                        title: 'Rezervasyon Başarılı!',
                        text: 'Rezervasyon talebiniz alınmıştır.'
                    });
                },
                error: function (xhr, status, error) {
                    // Hata olduğunda yapılacak işlemler
                    console.log("Rezervasyon oluşturulurken bir hata oluştu");
                    console.log(xhr.responseText);
                    // Eğer gerekirse, hata mesajını kullanıcıya göstermek için burada bir işlem yapabilirsiniz.
                }
            });
        });
    });
</script>  *@
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

