@model List<ResultDiscountDto>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/AdminLayout/Index.cshtml";
	int count = 0;
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Günün İndirimleri İşlemleri</h4>
		<div class="row">
			<div class="col-md-12">

				<div class="card">
					<div class="card-header">
						<div class="card-title">Günün İndirimleri Listesi</div>
					</div>
					<div class="card-body">
						<div class="card-sub">
                            Günün İndirimli Ürünleri Aşağıda Yer Almaktadır. Tema Bütünlüğü İçin <strong>2 Adet</strong> İndirimli Ürün Seçiniz.
						</div>
						<table class="table mt-3">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Ürün</th>
									<th scope="col">İndirim Oranı</th>
									<th scope="col">Durum</th>
									<th scope="col">Sil</th>
									<th scope="col">Güncelle</th>
									<th scope="col">Aktif Yap</th>
									<th scope="col">Pasif Yap</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									count++;
									<tr>
										<th>@count</th>
										<td>@item.Title</td>
										<td>@item.Amount</td>
										@if (item.Status == true)
										{
											<td class="badge badge-primary">Aktif</td>
										}
										else
										{
										<td class="badge badge-dark">Pasif</td>
                                        }
										<td>
											<a href="/Discount/DeleteDiscount/@item.DiscountID" class="btn btn-danger">
												<span class="icon text-white">
													<i class="la la-trash-o"></i>
												</span>
												<span class="text">Sil</span>
											</a>
										</td>
										<td>
											<a href="/Discount/UpdateDiscount/@item.DiscountID" class="btn btn-success">
												<span class="icon text-white">
													<i class="la la-edit"></i>
												</span>
												<span class="text">Güncelle</span>
											</a>
										</td>
										<td>
											<a href="/Discount/ChangeStatusToTrue/@item.DiscountID" class="btn btn-primary">
												<span class="icon text-white">
													<i class="la la-check"></i>
												</span>
												<span class="text">Aktif Yap</span>
											</a>
										</td>
										<td>
											<a href="/Discount/ChangeStatusToFalse/@item.DiscountID" class="btn btn-dark">
												<span class="icon text-white">
													<i class="la la-exclamation-circle"></i>
												</span>
												<span class="text">Pasif Yap</span>
											</a>
										</td>
										
										

									</tr>
								}
							</tbody>
						</table>
						<a href="/Discount/CreateDiscount/" class="btn btn-outline-primary">Yeni İndirimli Ürün Girişi</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>